<form action="/home/AddImage" method="post">
    Add an Image
    <br />
    <input type="text" name="URL" class="form-control" placeholder="Image URL" />
    <br />
    <input type="text" name="Title" class="form-control" placeholder="Title" />
    <input type="hidden" name="DateUploaded" value="@DateTime.Now"/>
    <button class="btn btn-primary">Add Image</button>
</form>
